@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root{
    --main-brand-color: #eeb16c ;
    --primary-color: #fcfff6;
    --secondary-color: #a3bd9d ;
    --third-color: #68c7d9 ;
    --text-color: #232933 ;
    --secondary-text-color: #2E3744 ;
    --col-desktop: 1200px;
    --col-laptop: 1024px;
    --col-tablet: 768px;
    --col-phone: 481px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.subheading h2{
    font-size: 20px;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.subheading p{
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 1rem;
}

.flex-container{
    padding: 15px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 200px;
    background-color: var(--text-color);
    border-radius: 60px;
    padding: 20px 20px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card img{
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
}

@media (max-width: var(--col-phone)){
    .flex-container{
      flex-direction: column;
      align-items: center;
    }

    .center h1, .subheading h2{
        text-align: center;
    }

    .center p, .subheading p{
        text-align: left;
    }

    .center{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: flex-start;
        text-align: left;
    }

    .card{
      flex: 1 1 100%; 
    }
  
    .subheading p{
      font-size: 1rem;
      line-height: 1.6;
    }
  }

  @media (min-width: var(--col-tablet)){
    .center h1, .subheading h2{
        text-align: center; 
    }

    .center p, .subheading p{
        text-align: left;
    }

    .center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
    }
  }