@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root{
    --main-brand-color: #eeb16c ;
    --primary-color: #E6EADE ;
    --secondary-color: #a3bd9d ;
    --third-color: #68c7d9 ;
    --text-color: #232933 ;
    --secondary-text-color: #2E3744 ;
    --col-desktop: 1200px;
    --col-laptop: 1024px;
    --col-tablet: 768px;
    --col-phone: 481px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
}

.timeline{
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}
.container{
    padding: 10px 0;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

.text-box{
    padding: 20px 30px;
    background: var(--secondary-color);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container{
    left:0
}

.right-container{
    left: 50%;
}

.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--secondary-color);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

.text-box h2{
    font-weight: 600;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--secondary-color);
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--secondary-color);
    left: -15px;
}

.center{
    text-align: center;
}

@media screen and (max-width: 600px){
    .timeline{
        margin: auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box-small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid var(--secondary-color);
        border-left: 0;
        left: -15px;
    }
}