@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root{
    --main-brand-color: #eeb16c ;
    --primary-color: #E6EADE ;
    --secondary-color: #a3bd9d ;
    --third-color: #68c7d9 ;
    --text-color: #232933 ;
    --secondary-text-color: #2E3744 ;
    --col-desktop: 1200px;
    --col-laptop: 1024px;
    --col-tablet: 768px;
    --col-phone: 481px;
}

*{
    box-sizing: border-box;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
font-family: 'Sora';
line-height: 1.5rem;
}

body{
    background: var(--secondary-color);
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: var(--primary-color);
    width: 50px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px var(--text-color);
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 10px;
}

.logo img{
    width: 24px;
    height: 24px;
}

.logo span{
    font-weight: bold;
    padding-left: 14px;
    font-size: 16px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: var(--text-color);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

img{
    position: relative;
    width: 24px;
    height: 24px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 8px;
    margin-left: 20px;
}

a:hover{
    background: var(--secondary-color);
}

nav:hover{
    width: 180px;
    transition: all 0.5s ease;
}

.sub-menu{
    position: center;
    margin: 0 8px;
}