@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root{
    --main-brand-color: #eeb16c ;
    --primary-color: #E6EADE ;
    --secondary-color: #a3bd9d ;
    --third-color: #68c7d9 ;
    --text-color: #232933 ;
    --secondary-text-color: #2E3744 ;
}

.Menu{
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.nav{
    background: var(--main-brand-color);
    width: 325px;
    height: 100vh;
    padding: 20px 0px;
    transition: all 0.5s ease;
    text-align: center;
    color: var(--secondary-color);
}
.logo h1{
    color: var(--secondary-text-color);
}
.square img{
    width: 630px;
}
.nav div{
    margin: 60px 0px;
}
.nav ul li{
    margin: 40px 0px;
}
.nav ul li a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}
.nav ul li .active{
    color: var(--secondary-text-color);
}
.nav ul li a:hover{
    color: var(--secondary-text-color);
}
.center h1{
    color: var(--main-brand-color);
    margin-bottom: 15px;
    font-size: 40px;
}
.center p{
    margin-bottom: 15px;
}

