.subheading img{
    height: 250px;
    width: 250px;
    max-height: 40vw;
    max-width: 50vw;
    overflow: hidden;
    border-radius: 10%;
    border: 4px solid var(--main-brand-color);
    display: flex;
}

.square img{
    width: 100%;
}